{% block content %}


<h1>form:</h1>
<form method="GET">
    <!-- {% csrf_token %} -->
    <input type="text" name="username" >
    <input type="password" name="password" id="">
    <br>
    <input type="submit" value="save" name="sub">
</form>

{% endblock content %}

<!-- {% for x in name %}
        <p> name: {{ x.name }}</p>
        <p> age: {{ x.age }}</p>
        <p> nombre d'enfant: {{ x.enfant }}</p>
        <p>femme: {{ x.girls }}</p>

        <img width="500px" src="{{x.image.url}}" alt="">
        <hr>
    {% endfor %} -->
 


