{% block content %}


<h1>form:</h1>
<form method="POST">
    {% csrf_token %}
    <!-- <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"> -->
    {{ lf }}
    <button type="submit">Submit</button>
</form>

{% endblock content %}

<!-- {% for x in name %}
        <p> name: {{ x.name }}</p>
        <p> age: {{ x.age }}</p>
        <p> nombre d'enfant: {{ x.enfant }}</p>
        <p>femme: {{ x.girls }}</p>

        <img width="500px" src="{{x.image.url}}" alt="">
        <hr>
    {% endfor %} -->
